
<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title >Productos</title>
<link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"/>
</head>
<body>
<div id="navegador"><!--Barra de Navegacion-->
		<ul>
		
		<li><a href="/App/inicio">Inicio</a></li>
		<li><a href="/App/Productos">Productos</a></li>
		<li><a href="/App/Login">Login</a></li>
		<li><a href="#">¿Quiénes somos?</a></li>
		<li><a href="/App/CarritodeCompras">Carrito de Compras</a></li>
		<li><a href="/App/Integrantes">Integrantes</a></li>
		</ul>
	</div><!-- FIN DE Barra de Navegacion-->

    





    

    

</body>
</html>